# Instructions:

- This assignment primarily focuses on the basics of strings, lists, dictionaries, and built-in functions. 
- Make sure to run your code for each cell so that the output/result is visible underneath each code cell. 
- Do not create any new cells in this notebook file. Place your code under the comments in each cell.
- Submit your Jupyter Notebook file (.ipynb) and the .pdf version of it to Blackboard. 
- Both files must be uploaded using one Blackboard submission (these are not to be submitted separately using two submissions). Please make sure that the PDF file shows the output of each code cell prior to submitting your files to the system. 
- Submissions without the PDF file as instructed may result in a grade penalty.

In [1]:
""" Before you begin, run this cell with with the code provided below.
This will return (output) where your Jupyter Notebook file is located on your computer. 
"""

import os
os.getcwd()

'C:\\Users\\Patrick Doyne\\Downloads'

## Part 1 - Numbers

In [2]:
#1. Assign any integer value to my_int and run the cell display the output from my_int. 

my_int = 1  #replace the --- symbol with an appropriate value 
print(my_int)

1

In [3]:
#2. Assign any float value to my_float and run the cell display the output from my_float. 

my_float = 1.1 #replace the --- symbol with an appropriate value
print(my_float) #replace the --- symbol with the appropriate variable

1.1

In [4]:
#3. Run the cell to view the output below.

print("Total:", my_int + my_float)

Total: 2.1

## Part 2 - Strings

In [5]:
#1. Include your first name and last name as a string inside a print function.
print("Patrick Doyne")

Patrick Doyne

In [6]:
"""#2. Assign your first name and last name as string values using the predefined variables below. 
Include each variable as an argument in one print function to display your full name (e.g., print(var1, var2)).
"""

firstName = "Patrick" #replace the --- symbol with an appropriate value
lastName =  "Doyne" #replace the --- symbol with an appropriate value
print(firstName, lastName) #replace the --- symbol with the appropriate variables

Patrick Doyne

In [7]:
"""#3. Use the print function and include the first name variable and 
concatenate (+ symbol) it with the last name variable.
Note: A space (i.e., " ") between the two first name and last name will be needed.
"""
print(firstName+" "+lastName)

Patrick Doyne

In [8]:
"""#4. Create a variable named courses and assign it an integer value which represents the 
number of courses you are taking this semester. 
Then use the print function to display the variable's content.
"""
courses = 5
print(courses)

5

In [9]:
#5 Convert the value type in courses to a float using the float() function.
# Then use the print function to display the variable's content.
courses = float(courses)
print(courses)

5.0

In [10]:
#6. Use the type() function to display the data type for the courses variable. 
type(courses)

float

In [13]:
"""#7. Use a print function to output: Hello! My name is ____! I'm taking ____ courses. 
Your code must fill in the blanks by referring to the existing variables previously defined.
"""
print("Hello! My name is",firstName,lastName+"! I'm taking "+str(courses),"courses.")

Hello! My name is Patrick Doyne! I'm taking 5.0 courses.

## Part 3 - Lists

In [14]:
"""#1. Create a variable named my_list that contains a list of any four 
numbers that range between 0 and 50.Then output the variable values using 
the print function."""
my_list = [1,2,3,4]
print(my_list)

[1, 2, 3, 4]

In [15]:
"""#2. Use the append() method on my_list to include an additional number (int or float value) to the list.
Then output the variable values using the print function.
"""
my_list.append(5.0)
print(my_list)

[1, 2, 3, 4, 5.0]

In [18]:
#3. Use the len() function on my_list to display the number of elements. 
len(my_list)

5

In [19]:
#4. Use the sort() method to order the elements in my_list.
# Then output the list using the print function.
my_list.sort()
print(my_list)

[1, 2, 3, 4, 5.0]

In [20]:
#5. Use the max() function on my_list.
max(my_list)

5.0

In [21]:
#6. Find the 2nd element in my_list using indexing notation (square brackets []).
# Then output the result using the print function.
print(my_list[1])

2

In [22]:
#7. Use the len() and sum() functions to calculate the mean value in my_list. (mean = sum() / len())
print("Sum of values:", sum(my_list))
print("Number of values:", len(my_list))
mean = sum(my_list) / len(my_list) #replace the --- symbol with the appropriate sytnax
print(mean)

Sum of values: 15.0
Number of values: 5
3.0

## Part 4 - Dictionaries

In [23]:
#1. Complete the code below by entering values for each key with your first name and last name
    
my_dict = {"firstName": "Patrick", "lastName": "Doyne" }  # Remove the --- symbol and enter the string values 
print(my_dict)  # run cell to display my_dict

{'firstName': 'Patrick', 'lastName': 'Doyne'}

In [25]:
#2. Update the dictionary variable (my_dict) to include the key-value pair "course": "MIS 433".
# Then output the content from the variable using the print function.
my_dict["course"] = "MIS 433"
print(my_dict)

{'firstName': 'Patrick', 'lastName': 'Doyne', 'course': 'MIS 433'}

## Part 5 - Fixing <font color='red'>Errors</font> - Debugging

Below are code problems with errors to debug. <br>
The error for each problem should disappear by running the cell after correcting the syntax. <br> 
Note: similiar errors are discussed in Chapter 1 from Automate the Boring Stuff textbook.

In [26]:
#1. Fix the NameError. The code should return (or output) the content stored in the defined variable 

title = "Programming for Analytics"
print(title)

Programming for Analytics

In [27]:
#2. Fix the the SyntaxError. The code should return the content as a float value of 3.00 

course_credit = 3.00
print(course_credit)

3.0

In [28]:
#3. Fix the TypeError. The code should return the content as MIS-433-DL

course_category = "MIS-"
course_number = 433
course_modality = "-DL"

print(course_category + str(course_number) + course_modality)

MIS-433-DL


###### End of Assignment